<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-installed-apps"
        version="1.0.0">

    <name>InstalledApps</name>
    <description>Cordova plugin to detect installed payment apps (UPI / wallets) on iOS.</description>
    <license>MIT</license>
    <author>Magenta Mobility</author>
    <keywords>cordova,installed,apps,upi,payment,wallets,outsystems,ios</keywords>

    <engines>
        <engine name="cordova"     version=">=9.0.0" />
        <engine name="cordova-ios" version=">=6.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">

        <js-module src="www/InstalledApps.js" name="InstalledApps">
            <clobbers target="InstalledApps" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="InstalledApps">
                <param name="ios-package" value="InstalledApps" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Declare URL schemes the app is allowed to query via canOpenURL:.
             Payment schemes first, then general. Apple caps at 50 entries. -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>phonepe</string>
                <string>gpay</string>
                <string>tez</string>
                <string>paytm</string>
                <string>paytmmp</string>
                <string>bhim</string>
                <string>amazon</string>
                <string>amazonpay</string>
                <string>whatsapp</string>
                <string>cred</string>
                <string>mobikwik</string>
                <string>freecharge</string>
                <string>airtel</string>
                <string>jiopay</string>
            </array>
        </config-file>

        <header-file src="src/ios/InstalledApps.h" />
        <source-file src="src/ios/InstalledApps.m" />
    </platform>
</plugin>
