<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-installed-apps"
        version="1.0.0">

    <name>InstalledApps</name>
    <description>Cordova plugin to get list of all installed apps with icons for Android and iOS</description>
    <license>MIT</license>

    <js-module src="www/InstalledApps.js" name="InstalledApps">
        <clobbers target="cordova.plugins.InstalledApps" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InstalledApps">
                <param name="android-package"
                       value="com.plugin.installedapps.InstalledApps" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
        </config-file>

        <source-file src="src/android/InstalledApps.java"
                     target-dir="src/com/plugin/installedapps" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="InstalledApps">
                <param name="ios-package" value="InstalledApps" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Declare URL schemes the app is allowed to query via canOpenURL: -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>fb</string>
                <string>whatsapp</string>
                <string>twitter</string>
                <string>twitterauth</string>
                <string>instagram</string>
                <string>googlegmail</string>
                <string>youtube</string>
                <string>spotify</string>
                <string>tg</string>
                <string>snapchat</string>
                <string>viber</string>
                <string>skype</string>
                <string>linkedin</string>
                <string>pinterest</string>
                <string>tiktok</string>
                <string>reddit</string>
                <string>discord</string>
                <string>signal</string>
                <string>zoom</string>
                <string>teams</string>
                <string>slack</string>
                <string>netflix</string>
                <string>amazonprime</string>
                <string>disneyplus</string>
                <string>uber</string>
                <string>lyft</string>
                <string>maps</string>
                <string>comgooglemaps</string>
                <string>waze</string>
                <string>shazam</string>
                <string>paypal</string>
                <string>venmo</string>
                <string>cashapp</string>
                <string>zelle</string>
                <string>ebay</string>
                <string>amazon</string>
                <string>flipkart</string>
                <string>swiggy</string>
                <string>zomato</string>
                <string>phonepe</string>
                <string>paytm</string>
                <string>gpay</string>
                <string>bhim</string>
                <string>cred</string>
                <string>mobikwik</string>
                <string>freecharge</string>
                <string>airtel</string>
                <string>jiopay</string>
            </array>
        </config-file>

        <header-file src="src/ios/InstalledApps.h" />
        <source-file src="src/ios/InstalledApps.m" />
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="InstalledApps">
                <param name="browser-package" value="InstalledApps" />
            </feature>
        </config-file>

        <js-module src="src/browser/InstalledAppsProxy.js" name="InstalledAppsProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
